<div class="navbarresponsive">
<nav class="navbar navbar-expand-md navbar-light bg-light blog-nav">
  <div class="container">
    <%= link_to "Kayra Czerniewicz", root_path, class: 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
     <ul class="navbar-nav ml-auto">
      <br>
       <%= nav_helper 'nav-link', 'span' %>
       <%= login_helper 'nav-link' %>
     </ul>
    </div>
  </div>
</nav>
</div>

<style>
 .bg-light {
font-weight: bolder;
}
  .bg-light {
    background-color: #15212B !important;
    margin-bottom: 4%;
    margin-top: -8%;
    color:white !important;
}

.cover-heading1{
  margin-bottom: : 50%;
  }

.cover1{
margin-top: 15%;
}

 .bg-light a{
    color:white !important;
}
}


 @media screen and (max-width: 768px) {
.navbar-light .navbar-toggler {
background-color: white;
  }

  .bg-light:hover{
    background-color: white !important;
}

.bg-light:hover a{
    color:#15212B !important;
}
}

.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, 0.5);
    border-color: black;
    background-color: white;
    border-radius: 22px;
}




</style>
