    <div class="col-sm-3 offset-sm-1 blog-sidebar">
      <div class="sidebar-module sidebar-module-inset">
         <h4>About</h4>
         <p>Articles, Tutorials and more for Ruby, Rails, Javascript, HTML & CSS.</p>
    </div>

  <div class="sidebar-module">
    <h4>Elsewhere</h4>
    <ol class="list-unstyled social-links">
      <li><a href="https://github.com/Kayracz" target="_blank"><i class="fab fa-github"></i></a></li>
      <li><a href="https://www.instagram.com/kayczt/" target="_blank"><i class="fab fa-instagram"></i></a></li>
      <li><a href="https://www.facebook.com/kayra.czerniewicz" target="_blank"><i class="fab fa-facebook"></i></a></li>
      <li><a href="www.linkedin.com/in/kayracz" target="_blank"><i class="fab fa-linkedin"></i></a></li>
    </ol>
  </div>
</div>
