<div class="app-card-container">
  <div class="card">
    <h1 class="firstheading">My Online CV</h1>
    <h2 class="secondheading">International Business, Management & Full Stack Development</h2>
    <hr>

    <div class="row">
      <div class="col-md-4">
        <%= image_tag "profile.jpg", width: 300, alt: "profile image", class: 'profile-img' %>

        <div class="skills">
          <% @skills.each do |skill| %>
            <div class="skill">
              <h4><%= skill.title %></h4>
              <div class="progress">
                <div
                  class="progress-bar progress-bar-striped progress-bar-animated"
                  role="progressbar"
                  aria-valuenow="<%= skill.percent_utilized %>"
                  aria-valuemax="100"
                  style="width: <%= skill.percent_utilized %>%"
                ></div>
              </div>
            </div>
          <% end %>
        </div>
     <br>
     <b class="firstheading">FIND ME IN:</b>
      <div class="container">
     <span class="social-links">
     <a href="https://github.com/Kayracz" target="_blank"><i class="fab fa-github"></i></a>
     <a href="https://www.instagram.com/kayczt/" target="_blank"><i class="fab fa-instagram"></i></a>
     <a href="https://www.facebook.com/kayra.czerniewicz" target="_blank"><i class="fab fa-facebook"></i></a>
     <a href="www.linkedin.com/in/kayracz" target="_blank"><i class="fab fa-linkedin"></i></a>
      </span>
        </div>
      </div>

      <div class="col-md-8">
      <br>
        <b class="firstheading">ABOUT ME</b>
        <p class="alignment">With a couple years of working in E-commerce startups, I decided to acquire development experience. I realized that the typical product creation process between clients and developers was flawed. All too often developers rarely communicate in the same way to clients throughout the development stage, resulting in a final product that fails to reach the goal sought by the customer and end user.</p>

        <p class="alignment">For this reason I decided to utilize a completely different development pattern that focuses on highly focused communication and transparent design patterns. When I take on a project not only do I work to craft the application according to the client's specifications, I evaluate and learn more about their business, give daily updates to ensure that the project is aligning properly with the client's goals and most importantly, on budget.</p>

        <div class="other">
        <ul><b class="firstheading">WHAT I DO </b></ul>
        <ul> Design, build & maintain <b>Rails code</b></ul>
        <ul> Manage and maintain applications on <b>Heroku</b></ul>
        <ul> Proficient with creating and maintaing <b>RESTFUL API</b></ul>
        <ul> Solid understanding of <b>object oriented-programming</b></ul>
        <ul> Solid understanding of <b>PosteSQL</b></ul>
        <ul> Creating efficient <b>database schemas</b></ul>
        <ul> Proficient understanding of <b>GIT</b></ul>
        </div>
        <br>
          <button
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#jobHistory"
            aria-expanded="false"
            aria-controler="jobHistory"
          >
            Job History
          </button>

           <div class="collapse" id="jobHistory">
            <div class="card cardstyle card-block">
             <b>Rv10.com.bo - CTO</b> <i>Santa Cruz, Bolivia  –  June  2019 – October 2019</i>
             Created and manage Rv10’s e-commerce web page. www.rv10.com.bo
            </div>
            <div class="card cardstyle card-block">
             <b>FixPart.com - French Markets Manager</b> <i> Hertogenbosch, Holland – December  2016 – November 2017</i>
             <span>•Operations and growth manager in France, Belgium and Luxembourg.</span>
             <span>•All translations of the content, products and legal terms of the website in French countries.</span>
             <span>•Market research for possible expansions (Spain)</span>
             <span>•Recruitment and training for interns and French/Spanish personnel</span>
             <span>• Social media marketing and planning for France, Germany, the Netherlands, Belgium and Luxembourg. </span>
           </div>
            <div class="card cardstyle card-block">
             <b>GRUPAZO.com - E-Commerce & Logistics Management</b> <i>Buenos Aires, Argentina – January 2016 – June 2016</i>
             <span>• Marketing analysis and strategy implementation</span>
             <span>• Daily update of social networks, email marketing, promotions and online advertising</span>
             <span>• logistics, supply chain management and inventory management</span>
            </div>
          </div>



          <button
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#education"
            aria-expanded="false"
            aria-controler="education"
          >
            Education
          </button>

          <div class="collapse" id="education">
            <div class="card cardstyle2 card-block">
               <b>Le Wagon - Buenos Aires, ARGENTINA</b>
               <i>October 2018 – December 2018 | <b>Full-Stack Web development</b> </i>
            </div>
            <div class="card cardstyle2 card-block">
               <b>Hogeschool Van Arnhem en Nijmegen – Arnhem Business School – ARNHEM, HOLLAND</b>
               February 2013 - July 2017  | <b>Degree in International Business and Management</b>
            </div>
            <div class="card cardstyle2 card-block">
                <b>ESSCA Business School – ANGERS, FRANCE</b>
                September 2011 – June 2012 |One year of management & french language studies.
            </div>
          </div>

                <button
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#languages"
            aria-expanded="false"
            aria-controler="languages"
          >
            Foreign Languages
          </button>


                        <div class="collapse" id="languages">
            <div class="card cardstyle2 card-block">
              French - Advanced
            </div>
            <div class="card cardstyle2 card-block">
              Spanish - Native language
            </div>
            <div class="card cardstyle2 card-block">
              English - Advanced (TOEFL 97/120)
            </div>
          </div>
        <span class="info">* click twice</span>
        <p>

        </p>
      </div>
    </div>
  </div>
</div>

