<br>
<br>
<div class="app-card-container container bannercontact">
  <div class="card text-center">
    <h1 class="text-center">Would you like to work together?</h1>
    <hr>
     <h3>I am located in:</h3>

    <p>Santa Cruz, Bolivia</p>

    <h3>Phone</h3>

    <p><%= number_to_phone "(+591) 78000375" %></p>

    <h3>Email</h3>

    <p><a href="mailto:kayracz@gmail.com?subject=PortfolioContact" "email me">Email me</a> </p>
</div>
</div>

<style>
  h3{
    color:#15222B
;  }
</style>
