<div class="container-fluid text-center bannerhome">
  <h1 class="text-center">Welcome <%= current_user.first_name %>,</h1>
  <br>
  <span class="element"></span>
<br>
<br>
  <p class="lead text-center">
    <%= link_to "About Me", aboutme_path, class: "btn btn-lg btn-outline-primary aboutresponsive" %>
  </p>
</div>

<Style>
    .element{
    font-size: 20px;
  }

.bannerhome h1{
font-family: 'Viga', sans-serif;
}

.element{

}
</Style>
