<div class="inner cover">
  <h1 class="cover-heading">Welcome <%= current_user.first_name %>,</h1>
<!--   <p class="lead">My goal is to build tools to create meaningfull businesses, facilitate processes and simplify life in general. Software development should not be a secret process, when I take on a new project I make it my goal to not only deliver a well crafted product but to also ensure that each stage of the process is fully communicated.</p> -->
<br>
<br>
  <p class="lead">
    <%= link_to "About Me", aboutme_path, class: "btn btn-lg btn-outline-primary" %>
  </p>
</div>


