@import "bootstrap";
@import "font-awesome-sprockets";
@import "gritter";
@import "pages";
@import "font-awesome";

// @import url('https://fonts.googleapis.com/css?family=Oswald');

// /* Links */
// a,
// a:focus,
// a:hover {
//   color: #fff;
// }

// /*
//  * Base structure
//  */

// html,

body {
  background-color: #15212B !important;
    color: #fff;
    // background: -webkit-linear-gradient(110deg, #15212B 40%, rgba(0, 0, 0, 0) 30%), -webkit-radial-gradient(farthest-corner at 0% 0%, #fff 70%, #15212B 70%);
    // background: -o-linear-gradient(110deg, #15212B 40%, rgba(0, 0, 0, 0) 30%), -o-radial-gradient(farthest-corner at 0% 0%, #fff 70%, #15212B 70%);
    // background: -moz-linear-gradient(110deg, #15212B 40%, rgba(0, 0, 0, 0) 30%), -moz-radial-gradient(farthest-corner at 0% 0%, #fff 70%, #15212B 70%);
    // background: linear-gradient(110deg, #15212B 40%, rgba(0, 0, 0, 0) 30%), radial-gradient(farthest-corner at 0% 0%, #fff 70%, #15212B 70%);
}

h1{
  font-family: 'Oswald', sans-serif;
}

  .element{
    font-size: 20px;
  }

.profile-img {
    border: 1px solid grey;
    vertical-align: middle;
    border-style: none;
     width: 100%;
  height: auto;
}

  .bg-light {
    background-color: #15212B !important;
}

 .bg-light a{
    color:white !important;
}

.btn-primary {
    // color: #007bff;
    // border-color: #007bff;
    margin: 4px;
  }
/*
 * Custom Styles
 */

.card-block{
 color: black;
 text-align: left;
     border-color: #007bff;
    margin-bottom: 5px;
}


.card-block b{
  font-size: 15px;
  color:  #007bff;
}

.card-block i{
  font-size: 15px;
}

.card-block > .row {
  margin-left: 0%;
  margin-right: 0%;
}

label{
  font-size: 18px;
}


.auth-links a{
 color: black;
 padding-left: 2%;
}

.register-text {
 text-align: right;
}

.auth-links2 a{
 padding-left: 0%;
 color:black;
}

.login > .card {
  width: 22rem;
  margin: 0 auto;
  float: none;
}


.app-footer {
  color: white;
}


.tech-news{
  color:black;
  margin: 5px;
}

.tech-news a{
  color: dodgerblue;
}

.tech-news > .card {
  padding:15px;
}


.app-card-container {
  color: black;
  text-align: left;
  border-radius: 10;
}

.app-card-container > .card {
    padding: 40px;
    margin: 73px;
}



.firstheading{
 color:#007bff;
}

.app-card-container a {
  color: blue;
}

.card-block{
margin-top:5px;
margin-bottom:5px;
}

.skill{
margin-top:10px;
margin-bottom:10px;
}


.secondheading{
  font-weight: 400;
}

.other ul{
  margin-left: -31px;
}

.info{
  font-weight:200;
  font-size: 11px;

}

// phones
 @media screen and (max-width: 768px) {
   .app-footer{
    margin-top: 40%;
    font-size: 10px !important;
  }
  .app-card-container > .card {
    padding: 35px !important;
    margin: 4px !important;
    width: 98% !important;
}

 .bg-light a{
    text-align: left;
    position: relative;
    padding: 1rem;
    font-weight: 500;
    color: #cdddeb;
}
}

// iphone 5
@media only screen and (max-device-width: 480px) {
  .navbar-brand{
   font-size: 20px;
  }
  .navbar-nav{
  margin-top: -27px;
  }

  .nav-link a{
        background-color: white;
    color: black !important;
    border-radius: 20px;
    padding: 8px;
    margin-top: 20px;
  }

  .social-links{
    font-size: 47px;
    padding-right: 5px;
  }

.fa-briefcase:before {
    font-size: 18px;
}

.fa-home:before {
     font-size: 19px;
}

.fa-code:before {
   font-size: 18px;
}

.fa-envelope:before {
     font-size: 18px;
}

  .profile-img {

     width: 100%;
  height: auto;
}

.secondheading{
  font-size: 1rem;
}

.social-links2{
  text-align: center;
  justify-content: center;
  display: flex;
}
}


// ipad
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)  {

.profile-img{
      width: 192px !important;
}
}




