// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "gritter";

.bannerhome{
  margin-top: 14%;
  margin-bottom: 18%;
}

.bannertech{
  margin-top: 3%;
  margin-bottom: 9%;
}

.bannerlog{
 margin-top: 8%;
 margin-bottom: 9%;
}

.bannercontact{
  margin-bottom: 45% !important;
}

.bannerhome h1{
  font-size: 70px;
}


.social-links{
  font-size:50px;
}


.fa-facebook-f:before, .fa-facebook:before {
    color: blue;
}

.fa-github:before {
    color:black;
}

.fa-instagram:before {
    color: deeppink;
}

.fa-linkedin:before {
    color: #007bff;
}

.alignment{
  text-align: justify;
}


.titlecontact{
  color: #007bff;
}
// .respon{
//   padding-left: 125px;
//     padding-right: 0px;
// }


 @media screen and (max-width: 768px) {
.navbar-light .navbar-toggler {
    color: white;
    border-color: black;
    background-color: white;
    border-radius: 28px;
}

.bannerhome {
    margin-top: 26%;
    margin-bottom: 55%;
  }

  .homefooter{
    font-size:10px;
    margin-top: 10px;
  }
 }

.navbar-brand{
 font-weight: bolder;
 font-size: 25px;
}


//ABOUT ICONS
.fa-briefcase:before {
    color: #15222B;
}

.fa-home:before {
    color: #15222B;
}

.fa-envelope:before {
    color: #15222B;
}

.fa-phone:before {
    color: #15222B;
}

.fa-code:before {
    color: #15222B;
    font-weight: 700;
}

.fa-globe:before {
    color: #15222B;
    font-size: 20px;
}

.w3-teal, .w3-hover-teal:hover {
  background-color: #007bff !important;
}


.fa-suitcase:before {
   color: #007bff;
}

.w3-text-teal, .w3-hover-text-teal:hover {
    color: #007bff!important;
}

.w3-light-grey {
    background-color: white !important;
}


