// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "gritter";

.cover-heading{
  font-size: 4.5rem;
}

.element{
  font-size: 1.5rem;
}

.cardstyle{
  border: 1px solid #22A1FA;
}

.cardstyle2{
  border: 1px solid #22A1FF;
}
.cardstyle2{
  border: 1px solid #22A1FF;
}

 @media screen and (max-width: 768px) {
  .btn{
    margin: 8px;
  }
 }
